<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="globalconfig" type="EE.Services.Pay.Common.GlobalConfig,EE.Services.Pay"></section>
  </configSections>
  <globalconfig configSource="abc.xml" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
