<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TestDb" providerName="MySql.Data.MySqlClient" connectionString="Server=127.0.0.1;Database=PingAnPay; User=root;Password=root3306;Charset=utf8;Allow Zero Datetime=True; Pooling=false; Max Pool Size=50; Port=3306 "/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WinService">
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="MaxHttpBind" sendTimeout="00:10:00" receiveTimeout="00:10:00"  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding name="MaxWebHttpBind" sendTimeout="00:10:00" receiveTimeout="00:10:00"  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </webHttpBinding>

      <netTcpBinding>
        <binding name="ServerMessage">
          <security mode="None">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name=""  behaviorConfiguration="WinService">
        <endpoint address="" bindingConfiguration="MaxHttpBind"
                  contract="" binding="basicHttpBinding"   />
      </service>
    </services>
  </system.serviceModel>-->
</configuration>
